.cardPlan__border {
    border-radius: 10px;
    border: solid 2px;
    padding: 5%;
    width: 75%;
    height: 100%;
}

.cardPlan__border-selected {
    border-color: #83cc5e;
}

.cardPlan__border-unselected {
    border-color: #f0f2fa;
}

.cardPlan__icon-select {
    width: 20px;
    height: 20px;
}

.cardDetailPlan__ammount-simbol {
    font-size: 14px;
}

.cardDetailPlan__iconState {
    text-align: right;
}

.cardDetailPlan__name {
    text-align: left;
    font-size: 12px;
    margin-top: -0.5vh;
}
